# Copyright (c) Robert Bosch GmbH
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

name: Some Test

on:
  issue_comment:
    types: [created]
    
jobs: 
  Check_Rights:
    if: ${{ github.event.issue.pull_request }}
    runs-on: [self-hosted]
    outputs:
      userAuthentication: ${{ steps.userAuthByAssociation.outputs.result }}
      #userAuthentication: ${{ steps.userAuthByPositiveList.outputs.result }}
    steps:
      - id: userAuthByAssociation
        if: (
          github.event.comment.author_association == 'OWNER' ||
          github.event.comment.author_association == 'MEMBER' ||
          github.event.comment.author_association == 'COLLABORATOR')
        run: |
          echo "org member or invited collaborator: ${{github.event.comment.author_association}}"
          echo "::set-output name=result::True"
             
      - id: userAuthByPositiveList
        env:
          authUsers: "'danielsiegl','FlorianBeerRB'"
        run: |
            echo "${{github.event.comment.user.login}}"
            echo "${{env.authUsers}}"
            $result = ${{env.authUsers}} -contains "${{github.event.comment.user.login}}"
            echo "::set-output name=result::$result"  
        
  Do_Something:
    if: needs.Check_Rights.outputs.userAuthentication == 'True'
    runs-on: [self-hosted]
    needs: Check_Rights
    steps:
    - run: echo "${{ needs.Check_Rights.outputs.userAuthentication }}"
